<a href="https://colab.research.google.com/github/Sbboss/Assignment1-Submission/blob/master/Assignment_1_Shiva_Baghel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Assignment 1**

#####Submitted by Shiva Baghel

In [0]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("brand_details.csv", sep="\t")
pd.set_option("display.max_rows", df.shape[0]+1)
df

    Rank             Brand  ...  Company_Advertising                 Industry
0      1             Apple  ...                1.200               Technology
1      2         Microsoft  ...                2.300               Technology
2      3            Google  ...                3.000               Technology
3      4         Coca-Cola  ...                3.500                Beverages
4      5               IBM  ...                1.300               Technology
5      6         McDonalds  ...                0.808              Restaurants
6      7           Samsung  ...                3.800               Technology
7      8            Toyota  ...                3.800               Automotive
8     10          Facebook  ...                0.135               Technology
9     11            Disney  ...                2.800                  Leisure
10    12              AT&T  ...                3.300                  Telecom
11    13            Amazon  ...                3.300               Technology
12    14     Louis Vuitton  ...                4.600                   Luxury
13    15             Cisco  ...                0.196               Technology
14    17            Oracle  ...                0.079               Technology
15    18              NIKE  ...                3.000                  Apparel
16    19             Intel  ...                1.800               Technology
17    20          Wal-Mart  ...                2.400                   Retail
18    21           Verizon  ...                2.500                  Telecom
19    22  American Express  ...                3.300       Financial Services
20    23             Honda  ...                2.700               Automotive
21    26          Gillette  ...                9.200  Consumer Packaged Goods
22    29             Pepsi  ...                2.300                Beverages
23    30              Visa  ...                0.900       Financial Services
24    32              ESPN  ...                2.800                    Media
25    35   Hewlett-Packard  ...                0.784               Technology
26    37        Home Depot  ...                2.300                   Retail
27    38         Frito-Lay  ...                0.884  Consumer Packaged Goods
28    41              Ford  ...                4.300               Automotive
29    44         Accenture  ...                0.088        Business Services
30    47       Wells Fargo  ...                0.653       Financial Services
31    48               Fox  ...                2.900                    Media
32    49           Pampers  ...                9.200  Consumer Packaged Goods
33    50              Ebay  ...                1.300               Technology
34    51            Hermès  ...                0.269                   Luxury
35    52         Starbucks  ...                0.199              Restaurants
36    53        MasterCard  ...                0.862       Financial Services
37    56        J P Morgan  ...                2.600       Financial Services
38    59          Kelloggs  ...                1.100  Consumer Packaged Goods
39    60             Kraft  ...                0.652  Consumer Packaged Goods
40    61           Colgate  ...                1.800  Consumer Packaged Goods
41    62         Chevrolet  ...                5.200               Automotive
42    63             Coach  ...                0.130                   Luxury
43    64           Hyundai  ...                1.900               Automotive
44    69         Santander  ...                0.834       Financial Services
45    70        John Deere  ...                0.174          Heavy Equipment
46    71             Chase  ...                2.600       Financial Services
47    72   Bank of America  ...                1.800       Financial Services
48    74             Prada  ...                0.218                   Luxury
49    75            Nissan  ...                2.600               Automotive
50    79              Sony  ...                3.200               Technology
51    80             FedEx  ...                0.407           Transportation
52    81              Citi  ...                1.800       Financial Services
53    89      Ralph Lauren  ...                0.256                  Apparel
54    92            Target  ...                1.600                   Retail
55    94           Hershey  ...                0.570  Consumer Packaged Goods
56    97        KIA Motors  ...                0.992               Automotive
57    98            Sprite  ...                3.500                Beverages
58    99               MTV  ...                1.000                    Media
59   100      Estee Lauder  ...                2.800  Consumer Packaged Goods

[60 rows x 7 columns]

In [17]:
#Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)
a = df[df['Brand_Revenue'] > 80].groupby(['Industry'], as_index = False)['Brand'].count()
a[a['Brand'] == a['Brand'].max()]

     Industry  Brand
4  Technology      6

**Technology has maximun Brand**

In [4]:
#Problem 2 - List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20
df.loc[(df["Company_Advertising"] < 3) & (df["Brand_Value"] > 20)][['Brand', 'Brand_Value']]

        Brand  Brand_Value
0       Apple        145.3
1   Microsoft         69.3
4         IBM         49.8
5   McDonalds         39.5
8    Facebook         36.5
9      Disney         34.6
13      Cisco         27.6
14     Oracle         26.8
16      Intel         25.8
17   Wal-Mart         24.7
18    Verizon         24.5
20      Honda         22.6

In [18]:
#Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)
df[df['Industry'] == 'Technology'].nlargest(5, ['Change_LastYr'])["Brand"].reset_index()

   index     Brand
0      8  Facebook
1     11    Amazon
2     33      Ebay
3     50      Sony
4      0     Apple

In [19]:
#Problem 4 - Find out the Average Brand_Revenue by Industry
df.groupby(['Industry'], as_index = False)['Brand_Revenue'].mean()

                   Industry  Brand_Revenue
0                   Apparel      17.700000
1                Automotive      97.385714
2                 Beverages      13.133333
3         Business Services      32.800000
4   Consumer Packaged Goods       7.175000
5        Financial Services      51.622222
6           Heavy Equipment      36.100000
7                   Leisure      26.400000
8                    Luxury       5.900000
9                     Media       9.200000
10              Restaurants      51.900000
11                   Retail     156.266667
12               Technology      80.238462
13                  Telecom     129.750000
14           Transportation      47.200000